<mat-card>
	<mat-card-header>
		<mat-card-title>{{ event.name }}</mat-card-title>
	</mat-card-header>

	<mat-card-content>
		<mat-tab-group>
			<mat-tab label="Événement">
				<form fxLayout="column" [formGroup]="eventForm" (ngSubmit)="updateEvent()">
					<div fxLayout="row">
						<mat-form-field fxFlex="grow">
							<mat-label>Nom</mat-label>
							<input matInput [formControl]="eventForm.controls.name">
							<mat-error>{{ getControlErrorMessage(eventForm.controls.name) | async }}</mat-error>
						</mat-form-field>

						<div fxFlex fxLayoutAlign="flex-end">
							<button mat-icon-button type="button" (click)="this.state.edit = !this.state.edit; toggleFormState()">
								<mat-icon [color]="state.edit ? undefined : 'primary'">edit</mat-icon>
							</button>
						</div>
					</div>

					<mat-form-field appearance="fill">
						<mat-label>Description</mat-label>
						<textarea matInput [formControl]="eventForm.controls.description"></textarea>
					</mat-form-field>

					<button mat-raised-button type="submit" color="primary"
							[disabled]="!state.edit">Mettre à jour</button>
					<mat-progress-bar *ngIf="state.loading" mode="query"></mat-progress-bar>
				</form>

				<hr id="divider">

				<h3>Repas de l'événement</h3>

				<form [formGroup]="mealForm" (ngSubmit)="updateMeal()">
					<mat-form-field>
						<mat-label>Repas</mat-label>

						<mat-select [formControl]="mealForm.controls.meal">
							<mat-option>
								<ngx-mat-select-search placeholderLabel="Rechercher" noEntriesFoundLabel="Aucun résultat"
													   [formControl]="mealForm.controls.search"
													   [searching]="mealState.loading"
								></ngx-mat-select-search>
							</mat-option>

							<ng-template #mealOption let-meal="meal">
								<mat-icon>{{ meal.home_type === "home_meal" ? "home" : "restaurant" }}</mat-icon>
								{{ meal.name }}
							</ng-template>

							<mat-select-trigger *ngIf="mealForm.controls.meal.value">
								<ng-container *ngTemplateOutlet="mealOption; context: {meal: mealForm.controls.meal.value}"></ng-container>
							</mat-select-trigger>

							<mat-option *ngFor="let meal of meals" [value]="meal">
								<ng-container *ngTemplateOutlet="mealOption; context: {meal}"></ng-container>
							</mat-option>
						</mat-select>
					</mat-form-field>

					<button mat-button type="submit"
							[disabled]="!mealForm.controls.meal.value || mealForm.controls.meal.value === event._meal">Appliquer</button>
				</form>

				<mat-card *ngIf="event._meal">
					<mat-card-header><mat-card-title>{{ event._meal.name }}</mat-card-title></mat-card-header>

					<mat-card-content>{{ event._meal.description }}</mat-card-content>
				</mat-card>

				<h2 *ngIf="!event._meal">Aucun repas défini</h2>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					{{ event._group.memberships.length }} Participants
				</ng-template>

				Issues du group <i>{{ event._group.name }}</i> :

				<mat-list role="table">
					<mat-list-item *ngFor="let membership of event._group.memberships">
						{{ membership._user?.emailAddress }}
					</mat-list-item>
				</mat-list>
			</mat-tab>
		</mat-tab-group>
	</mat-card-content>
</mat-card>
