<div id="menu" fxHide.gt-xs>
	<div fxLayoutAlign="center center">
		<h4>Menu</h4>
	</div>

	<app-toolbar></app-toolbar>

	<div fxLayoutAlign="center center">
		<span *ngIf="!user._connected"><i>non connecté</i></span>
		<span *ngIf="user._connected">{{ user.firstName }} {{ user.lastName }}</span>
	</div>
</div>

<mat-nav-list>
	<mat-list-item routerLink="/meals">
		<mat-icon matListIcon>menu_book</mat-icon>
		<a matLine>Repas</a>
	</mat-list-item>

	<mat-list-item *ngIf="user._connected" routerLink="/profile/events">
		<mat-icon matListIcon>event</mat-icon>
		<a matLine>Événement</a>
	</mat-list-item>

	<mat-list-item *ngIf="user._connected" routerLink="/profile/groups">
		<mat-icon matListIcon>group</mat-icon>
		<a matLine>Groupes</a>
	</mat-list-item>
</mat-nav-list>
