<mat-card>
	<mat-form-field>
		<mat-label>Find a meal</mat-label>
		<input matInput type="text" [(ngModel)]="searchTerms" placeholder="Ratatouille, spaghettis carbonara...">
		<button *ngIf="searchTerms" matSuffix mat-icon-button aria-label="Clear" (click)="launchSearch()">
			<mat-icon>search</mat-icon>
		</button>
	</mat-form-field>

	<tag-input [(ngModel)]="chosenFoodConstraints" [onlyFromAutocomplete]="true" [identifyBy]="'id'" [displayBy]="'name'">
		<tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="serverFoodConstraints"  [identifyBy]="'id'" [displayBy]="'name'">
		</tag-input-dropdown>
	</tag-input>

	<div class="prep-time">
		<p>Preparation time</p>
		<mat-slider step="5" min="0" max="90" (input)="minutes = $event.value || 0;" color="primary"></mat-slider>
		<div>
			<ng-container *ngIf="minutes > 0">{{minutes}} minutes</ng-container>
			<ng-container *ngIf="minutes == 0">Nevermind</ng-container>
		</div>
	</div>

	<button mat-flat-button color="primary" (click)="launchSearch()">Find meals</button>
</mat-card>

<div class="results-title">
	<h1>Résultats</h1>
	<p>{{foundMeals.length}} repas trouvé(s)</p>
</div>

<mat-accordion multi>
	<mat-expansion-panel *ngFor="let meal of foundMeals"><!-- TODO load recipes when expansion panel is opened -->
		<mat-expansion-panel-header>
			<mat-panel-title>
				{{meal.name}}
			</mat-panel-title>
			<mat-panel-description>
				{{meal.description}}
			</mat-panel-description>
		</mat-expansion-panel-header>

		<!-- TODO What to display here? and where to store the data?... -->
		<div *ngFor="">
			<div [routerLink]=""></div>
		</div>

	</mat-expansion-panel>
</mat-accordion>
