:host {
	padding: 1em;
	box-sizing: border-box;

	mat-form-field {
		width: 100%;
		font-size: 1.5em;
	}
	mat-slider {
		width: 80%;
	}

	mat-card {
		margin-bottom: 1em;
		cursor: pointer;
	}

	mat-panel-title {
		font-size: 1.2em;
	}

	mat-panel-description {
		font-size: 0.85em;
	}

	.results-title {
		margin: 1em 0;
		padding: 0.5em 0;
		background: rgba(255,255,255,0.5);
		color: #a37d62;

		> * {
			margin: 0;
			padding: 0;
			text-align: center;
		}
	}
}
