<mat-card>
	<mat-form-field appearance="fill">
		<mat-label>Find a meal</mat-label>
		<input matInput type="text" [(ngModel)]="searchTerms" placeholder="Ratatouille, spaghettis carbonara...">
		<button *ngIf="searchTerms" matSuffix mat-icon-button aria-label="Clear" (click)="launchSearch()">
			<mat-icon>search</mat-icon>
		</button>
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Food constraints</mat-label>
		<mat-chip-list #chipList>
			<mat-chip
				*ngFor="let fc of selectedFoodConstraints"
				(removed)="unselectFoodConstraint(fc)">
				{{fc.name}}
				<button matChipRemove>
					<mat-icon>cancel</mat-icon>
				</button>
			</mat-chip>
			<input
				placeholder="Add constraint..."
				#foodConstraintInput
				[formControl]="foodConstraintsControl"
				[matAutocomplete]="auto"
				[matChipInputFor]="chipList"
				[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
				(matChipInputTokenEnd)="textualChipInput($event)">
		</mat-chip-list>
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="autocompleteOptionSelected($event)">
			<mat-option *ngFor="let serverFc of suggestedFoodConstraints" [value]="serverFc">
				{{serverFc.name}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>

	<div class="prep-time">
		<p>Preparation time</p>
		<mat-slider step="5" min="0" max="90" (input)="minutes = $event.value || 0;" color="primary"></mat-slider>
		<div>
			<ng-container *ngIf="minutes > 0">{{minutes}} minutes</ng-container>
			<ng-container *ngIf="minutes == 0">Nevermind</ng-container>
		</div>
	</div>

	<button mat-flat-button color="primary" (click)="launchSearch()">Find meals</button>
</mat-card>

<div class="results-title">
	<h1>Résultats</h1>
	<p>{{foundMeals.length}} repas trouvé(s)</p>
</div>

<mat-accordion multi>
	<mat-expansion-panel *ngFor="let meal of foundMeals" (opened)="loadMealRecipes(meal.id)">
		<mat-expansion-panel-header>
			<mat-panel-title>
				{{meal.name}}
			</mat-panel-title>
			<mat-panel-description>
				{{meal.description}}
			</mat-panel-description>
		</mat-expansion-panel-header>

		<ul>
			<li *ngFor="let recipe of (recipesForMeal[meal.id] ?? [])">
				<h1 [routerLink]="['/recipe', recipe.id]" class="recipe-title">
					{{recipe.name}}
					&nbsp;&nbsp;&nbsp;
					{{recipe.numberOfPeople}} <mat-icon>person</mat-icon>
				</h1>
				<p>{{recipe.description}}</p>
			</li>
		</ul>


		<ng-container *ngIf="!recipesForMeal[meal.id]">
			<mat-spinner></mat-spinner>
		</ng-container>

	</mat-expansion-panel>
</mat-accordion>
