<mat-card>
	<mat-form-field>
		<mat-label>Find a meal</mat-label>
		<input matInput type="text" [(ngModel)]="searchTerms" placeholder="Ratatouille, spaghettis carbonara...">
		<button *ngIf="searchTerms" matSuffix mat-icon-button aria-label="Clear" (click)="launchSearch()">
			<mat-icon>search</mat-icon>
		</button>
	</mat-form-field>

	<tag-input [(ngModel)]="chosenFoodConstraints" [onlyFromAutocomplete]="true" [identifyBy]="'id'" [displayBy]="'name'">
		<tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="serverFoodConstraints"  [identifyBy]="'id'" [displayBy]="'name'">
		</tag-input-dropdown>
	</tag-input>

	<div>
		<p>Preparation time</p>
		<mat-slider step="5" min="0" max="90" (input)="minutes = $event.value || 0;" color="primary"></mat-slider>
		<ng-container *ngIf="minutes > 0">{{minutes}} minutes</ng-container>
		<ng-container *ngIf="minutes == 0">Nevermind</ng-container>
	</div>
</mat-card>

<div class="results-title">
	<h1>Résultats</h1>
	<p>{{(meals$ | async)?.length}} repas trouvé(s)</p>
</div>

<mat-card *ngFor="let meal of meals$ | async" [routerLink]="['/meal/' + meal.id]">
	<mat-card-title>{{meal.name}}</mat-card-title>
	<mat-card-content>
		<p>{{meal.description}}</p>
	</mat-card-content>
</mat-card>
